/*
  @name     Discord Theme For RammerHead
  @author   Eliana
  @version  0.0.1 Beta
*/

html.custom-theme {
    --browser-icon-color: #5865F2;
    --browser-accent-color-dark: #1E1F22;
/*     --browser-accent-color: #2B2D31;
    --browser-tab-strip: var(--browser-accent-dark);
    --browser-tab-divider-color: #FF;
    --browser-tab-highlight-color: #FF;
    --browser-search-highlight-color: rgb(145 145 145 / 10%);
    --browser-text-primary-color: #FF;
    --browser-text-secondary-color: #FF;
    --browser-active-icon-color: #FF; */
/*     --browser-logo-filter: saturate(0) opacity(0.5) invert(1); */
}
